.ms_azioni{
    padding-left:27px!important;
}
.ms_nav-li{
    text-decoration: none!important;
    color: blue;
}
.ms_nav-li:hover{
    filter: drop-shadow(0 0 0.75rem rgb(39, 7, 168));
}
.ms_nav-title{
    color: rgba(255, 0, 111, 0.791);
}
.ms_nav-title:hover{
    filter: drop-shadow(0 0 0.75rem rgb(39, 7, 168));
}