
.ms_p-jumbotron{
    font-size: 20px;
}

.ms_btn-radius{
    border-radius: 20px !important;
}
/*fine jumbotron */
/*inizio incipit */
.ms_style-p{
    font-size: 20px;
}
/*fine incipit */
/*inizio dishes */
.ms_dishes{
    background-color: #ffeae4;   
}
.ms_img{
    height: 200px;
}
.ms_p-home{
    font-size: 20px;
    font-weight: bold;
}
/*fine dishes */

//regole vista ristoranti//



.my-bg-categories {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding-top: 30px;
}

