.jumbotron{

    height: 600px;
    min-height: 600px;
    background-size: cover;
    background-position: center;
    color: white;
}

.ms_padding-150{
    padding-top: 150px;
}

.ms_height-100{
    height: 100% ;
}

.ms_btn-radius{
    border-radius: 20px !important;
}
/*fine jumbotron */
/*inizio incipit */
.ms_style-p{
    font-size: 20px;
}
/*fine incipit */
/*inizio dishes */
.ms_dishes{
    background-color: #ffeae4;   
}
.ms_img{
    height: 200px;
}
/*fine dishes */