.jumbotron{
    background-color: #a9a6ae;  
}

.ms_p-jumbotron{
    font-size: 20px;
}

.ms_btn-radius{
    border-radius: 20px !important;
}
/*fine jumbotron */
/*inizio incipit */
.ms_style-p{
    font-size: 20px;
}
/*fine incipit */
/*inizio dishes */
.ms_dishes{
    background-color: #ffeae4;   
}
.ms_img{
    height: 200px;
}
.ms_p-home{
    font-size: 20px;
    font-weight: bold;
}
/*fine dishes */